@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');


body {
  margin: 0;
  background-color: #005691;
  color: black;
  font-size: 1em;
}

h1 {
  text-align: center;
  margin: 12px 0;
  color: white;
}

.taskList {
  width: 40%;
  margin: 0 auto;
}

.taskListBody {
  line-height: 1.7;
  background-color: #393E46;
  padding: 6em 4em;
  border-radius: 1em;
}

.taskListBody ul li {
  list-style: none;
  background-color: white;
  border: 1px solid black;
  padding: 0.5em;
  width: 400px;
  margin: 5% auto;
  font-size: 1.2em;
}

.taskListBody ul li:hover {
  opacity: 0.8;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
  font-size: 2em;
  padding-right: 1em;
  padding-left: 1em;
}

.newTask {
  display: flex;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  margin: 5% auto;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 1em;
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  font-size: inherit;
  outline: none;
  transition: border-bottom 150ms ease-in;
  order: 2;
}

.complete {
  text-decoration: line-through;
  opacity: 0.7;
}

.create:hover {
  opacity: 0.5;
}
